Activate virtual environment

In [166]:
import pandas as pd

Cleaning dataset 1

In [167]:
schools_df = pd.read_excel(r'C:\Users\molly\projects\farm_to_school\data\ELSI_excel_export_6389684883881608374860.xls')

schools_df.columns = schools_df.iloc[5, :]

schools_df = schools_df[6:] #removing the first 6 rows due to header info

In [168]:
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150007 entries, 6 to 150012
Data columns (total 3 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   School Name                                       150004 non-null  object
 1   State Name [Public School] Latest available year  150000 non-null  object
 2   State Abbr [Public School] Latest available year  150000 non-null  object
dtypes: object(3)
memory usage: 3.4+ MB

In [169]:


schools_df.isna().sum()

5
School Name                                         3
State Name [Public School] Latest available year    7
State Abbr [Public School] Latest available year    7
dtype: int64

In [170]:
schools_df = schools_df.dropna() #dropping NAs since there aren't that many
schools_df 
schools_df.isna().sum()

5
School Name                                         0
State Name [Public School] Latest available year    0
State Abbr [Public School] Latest available year    0
dtype: int64

In [171]:
#clean up column names

schools_df.rename(columns={'State Abbr [Public School] Latest available year':'state_abbr'}, inplace=True)
schools_df.rename(columns={'State Name [Public School] Latest available year':'state_name'}, inplace=True)
schools_df.rename(columns={'School Name':'school_name'}, inplace=True)
schools_df

5,school_name,state_name,state_abbr
6,014 FRIDLEY TS,Minnesota,MN
7,03-MM,Florida,FL
8,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,MA
9,1 SCHOOL ...,New York,NY
10,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,NV
...,...,...,...
150001,VAN BUREN COUNTY COMMUNITY SCHOOL DISTRICT HAR...,IOWA,IA
150002,VAN BUREN DISTRICT SECONDARY SCH,Maine,ME
150003,VAN BUREN EARLY COLLEGE HEALTH ALLIANCE,Michigan,MI
150004,VAN BUREN EL,Texas,TX
150005,VAN BUREN EL SCH,Oklahoma,OK

In [172]:
schools_df.duplicated().sum()
schools_df['school_name'].duplicated().sum()

np.int64(25952)

Discovered many duplicates due to schools having multiple entries based on grades offered

In [173]:
schools_df[schools_df.duplicated()].head(10)

5                     school_name     state_name state_abbr
21                     118-E-SW-5        FLORIDA        FL
268                    601 SCHOOL     California        CA
269                    601 SCHOOL     California        CA
290                      72 E W 7        FLORIDA        FL
389                   A F MALONEY  Massachusetts        MA
402  A J JORDAK ELEMENTARY SCHOOL           Ohio        OH
421              A L P H A CAMPUS          Texas        TX
422              A L P H A CAMPUS          Texas        TX
423              A L P H A CAMPUS          Texas        TX
424              A L P H A CAMPUS          Texas        TX

Removing duplicates where the state and corresponding school are accoutned for.

In [174]:
unique_schools_df = schools_df.drop_duplicates(subset=['school_name', 'state_name'], keep='first')

print (len(schools_df))
print(len(unique_schools_df))

unique_schools_df.head(50)

150000
138231

5,school_name,state_name,state_abbr
6,014 FRIDLEY TS,Minnesota,MN
7,03-MM,Florida,FL
8,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,MA
9,1 SCHOOL ...,New York,NY
10,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,NV
11,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,NV
12,100 BLACK MEN OF THE BAY AREA COMMUNITY,California,CA
13,100 LEGACY ACADEMY CHARTER SCHOOL,New Jersey,NJ
14,100 R ELEMENTARY SCHOOL,Nebraska,NE
15,101 ELEMENTARY ...,California,CA
16,10TH STREET SCHOOL,Washington,WA
17,112 ALC INDEPENDENT STUDY,Minnesota,MN
18,112 ALC MIDDLE SCHOOL,Minnesota,MN
19,112 ALC SEAT-BASED,MINNESOTA,MN
20,118-E-SW-5,FLORIDA,FL
22,12-E-C-1,Florida,FL
23,129-M-SE-2,FLORIDA,FL
24,12TH STREET ACAD ...,New York,NY
25,12TH STREET ELEMENTARY,Michigan,MI
26,130-E-SE-2,FLORIDA,FL
27,133-K8-N-6,Florida,FL
28,14TH AVE ELEM SCH,Alabama,AL
29,175 DAYS,Minnesota,MN
30,18+ PROGRAM,NEBRASKA,NE
31,180 DEGREES / YOUTH SHELTER,MINNESOTA,MN
32,180 PROGRAM,California,CA
33,19-21 TRANSITION ACADEMY,Washington,WA
34,19-E-N-7,Florida,FL
35,1919 BUILDING,Ohio,OH
36,1919 BUILDING PRESCHOOL,Ohio,OH
37,196ONLINE ELEMENTARY,MINNESOTA,MN
38,196ONLINE HIGH SCHOOL,MINNESOTA,MN
39,196ONLINE MIDDLE SCHOOL,MINNESOTA,MN
40,199 ONLINE ELEMENTARY,MINNESOTA,MN
41,199 ONLINE HIGH SCHOOL,MINNESOTA,MN
42,199 ONLINE MIDDLE SCHOOL,MINNESOTA,MN
43,1R ELEMENTARY,Nebraska,NE
44,1ST WARD EL,Wisconsin,WI
45,2-M-E-1,Florida,FL
46,20 DE SEPTIEMBRE DE 1988,Puerto Rico,PR
47,2001 EDUCATION DIST.,Minnesota,MN
48,21-M-E-2,FLORIDA,FL
49,21ST CENTURY ACADEMY,Kentucky,KY
50,21ST CENTURY ACADEMY OF SCIENC,Texas,TX
51,21ST CENTURY ALTERNATIVE ...,Missouri,MO
52,21ST CENTURY CHARTER SCH OF GARY,Indiana,IN
53,21ST CENTURY CHARTER SCHOOL AT COLORADO SPRINGS,Colorado,CO
54,21ST CENTURY CYBER CS,Pennsylvania,PA
55,21ST CENTURY EARLY LEARNING FOUNDATIONS ACADEMY,TEXAS,TX
56,21ST CENTURY ESCHOOL,Wisconsin,WI

In [ ]:
school_counts_state = unique_schools_df.groupby('state_abbr').size().reset_index(name='num_schools') #gouping by state abbreviation and then counting the # of schools within each state

school_counts_state

   state_abbr  num_schools
0         AK           672
1         AL          1974
2         AR          1646
3         AS            34
4         AZ          3465
5         BI           259
6         CA         12467
7         CO          2344
8         CT          1572
9         DC           446
10        DD            91
11        DE           323
12        DO           213
13        DS           277
14        FL          5890
15        GA          3306
16        GU            85
17        HI           272
18        IA          1910
19        ID          1037
20        IL          5685
21        IN          2384
22        KS          1832
23        KY          2340
24        LA          2407
25        MA          2492
26        MD          1576
27        ME           958
28        MI          6081
29        MN          4738
30        MO          2908
31        MP            70
32        MS          1378
33        MT           997
34        NC          3193
35        ND           847
36        NE          2235
37        NH           675
38        NJ          2901
39        NM          1064
40        NV           863
41        NY          7384
42        OH          5167
43        OK          2448
44        OR          1803
45        PA          4021
46        PR          1769
47        RI           440
48        SC          1673
49        SD          1281
50        TN          2522
51        TX         11484
52        UT          1290
53        VA          2624
54        VI            53
55        VT           659
56        WA          3205
57        WI          2678
58        WV          1307
59        WY           516

In [ ]:
#schools_df['state_abbr'] = schools_df['state_abbr'].str.replace(' ', '') #makes sure there are no spaces in the states abbr

#schools_df.head(5)

5,school_name,state_name,state_abbr
6,014 FRIDLEY TS,Minnesota,MN
7,03-MM,Florida,FL
8,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,MA
9,1 SCHOOL ...,New York,NY
10,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,NV

In [ ]:
#schools_df.info()
#print(schools_df.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 150000 entries, 6 to 150005
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   school_name  150000 non-null  object
 1   state_name   150000 non-null  object
 2   state_abbr   150000 non-null  object
dtypes: object(3)
memory usage: 4.6+ MB
(150000, 3)

Clean dataset 2.  I manually removed unwated columns using excel decreasing total columns from 930 to 120

In [177]:
census_df = pd.read_csv(r'C:\Users\molly\projects\farm_to_school\data\F2S_Census_2023_edited.csv')
census_df.info()

census_df.isna().sum()

print(census_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11262 entries, 0 to 11261
Columns: 120 entries, CASEID to Q13C14
dtypes: float64(100), int64(15), object(5)
memory usage: 10.3+ MB
(11262, 120)

In [178]:
census_df.head(30)

,CASEID,RGN,RGN_TXT,SFA_NAME,SFA_STATE,SFA_ZIP,SFA_ID,NUM_SCHOOLS,NUM_STUDENTS,Q2C1,...,Q13C5,Q13C6,Q13C7,Q13C8,Q13C9,Q13C10,Q13C11,Q13C12,Q13C13,Q13C14
0,MARO1100174,1,Mid-Atlantic Regional Office (MARO),Dc Public Schools (Dcps),DC,20002.0,1,118.0,49869.0,1,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,MARO1100179,1,Mid-Atlantic Regional Office (MARO),Dc Bilingual Public Charter School,DC,20011.0,114,1.0,492.0,1,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,MARO1100181,1,Mid-Atlantic Regional Office (MARO),El Haynes Public Charter School,DC,20011.0,116,3.0,1241.0,1,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
3,MARO1100182,1,Mid-Atlantic Regional Office (MARO),Eagle Academy Pcs,DC,20003.0,117,2.0,526.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MARO1100183,1,Mid-Atlantic Regional Office (MARO),Early Childhood Academy Pcs,DC,20032.0,118,1.0,235.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,MARO1100184,1,Mid-Atlantic Regional Office (MARO),Briya Pcs,DC,20009.0,119,4.0,65.0,1,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
6,MARO1100185,1,Mid-Atlantic Regional Office (MARO),Friendship Pcs,DC,20001.0,120,9.0,4495.0,1,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7,MARO1100186,1,Mid-Atlantic Regional Office (MARO),Hope Community Pcs,DC,20017.0,121,1.0,281.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,MARO1100188,1,Mid-Atlantic Regional Office (MARO),Cedar Tree Academy Pcs,DC,20020.0,123,1.0,480.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MARO1100189,1,Mid-Atlantic Regional Office (MARO),Howard Univ. Middle School,DC,20059.0,124,1.0,188.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,MARO1100191,1,Mid-Atlantic Regional Office (MARO),Idea Pcs,DC,20019.0,126,1.0,326.0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,MARO1100195,1,Mid-Atlantic Regional Office (MARO),Meridian Pcs,DC,20009.0,135,1.0,641.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,MARO1100196,1,Mid-Atlantic Regional Office (MARO),Roots Pcs,DC,20011.0,140,2.0,101.0,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MARO1100197,1,Mid-Atlantic Regional Office (MARO),Seed Public Charter School,DC,20019.0,142,1.0,250.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,MARO1100198,1,Mid-Atlantic Regional Office (MARO),Elsie Whitlow Stokes Pcs,DC,20019.0,144,2.0,617.0,1,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
15,MARO1100199,1,Mid-Atlantic Regional Office (MARO),Next Step Pcs,DC,20009.0,145,1.0,354.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16,MARO1100200,1,Mid-Atlantic Regional Office (MARO),Thurgood Marshall Academy Pchs,DC,20020.0,146,1.0,340.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,MARO1100202,1,Mid-Atlantic Regional Office (MARO),Washington Latin Pcs,DC,20011.0,151,1.0,755.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,MARO1100203,1,Mid-Atlantic Regional Office (MARO),Achievement Preparatory Academy Pcs,DC,20032.0,155,1.0,200.0,1,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
19,MARO1100204,1,Mid-Atlantic Regional Office (MARO),Center City Pcs,DC,20002.0,156,6.0,1450.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,MARO1100206,1,Mid-Atlantic Regional Office (MARO),Inspired Teaching Demonstration Pcs,DC,20002.0,165,1.0,506.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,MARO1100209,1,Mid-Atlantic Regional Office (MARO),Basis Dc Pcs,DC,20004.0,168,1.0,652.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,MARO1100211,1,Mid-Atlantic Regional Office (MARO),Dc Scholars Pcs,DC,20019.0,170,1.0,535.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,MARO1100212,1,Mid-Atlantic Regional Office (MARO),Paul Public Charter School,DC,20011.0,170,1.0,770.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,MARO1100214,1,Mid-Atlantic Regional Office (MARO),Layc Career Academy Pcs,DC,20010.0,172,1.0,86.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,MARO1100215,1,Mid-Atlantic Regional Office (MARO),Ingenuity Prep Pcs,DC,20032.0,173,1.0,816.0,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
26,MARO1100217,1,Mid-Atlantic Regional Office (MARO),Lee Montessori Public Charter School,DC,20017.0,177,2.0,412.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
27,MARO1100218,1,Mid-Atlantic Regional Office (MARO),Washington School For Girls,DC,20020.0,1775,2.0,96.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,MARO1100221,1,Mid-Atlantic Regional Office (MARO),Monument Academy Public Charter School,DC,20002.0,184,1.0,190.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,MARO1100222,1,Mid-Atlantic Regional Office (MARO),Washington Global Public Charter School,DC,20024.0,185,1.0,240.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Analyzing NAs and trying to figure out what to do with them

In [179]:
q_cols = [col for col in census_df.columns if col.startswith("Q")] #focusing on the answeres within the question columns

rows_all_na = census_df[q_cols].isna().all(axis=1)

print(rows_all_na.sum())

0

Seeing where there are no rows iwth all NAs meaning that the each school listed has some sort of response.  However, I know that there are a lot of NAs in the dataset so figuring out another way to identify them

In [180]:

census_df['na_count_Q'] = census_df[q_cols].isna().sum(axis=1) #counts how many Q columns are NA in each row

print(census_df['na_count_Q'].describe())

threshold = len(q_cols) / 2    #defining threshold of < 50 % (actual = 50.5%)
mostly_na_rows = census_df[census_df['na_count_Q'] > threshold] # # of rows with more than half of Q columns missing

print({len(mostly_na_rows)})

count    11262.000000
mean        35.849405
std         15.916298
min          7.000000
25%         27.000000
50%         28.000000
75%         36.000000
max         97.000000
Name: na_count_Q, dtype: float64
{1641}

In [181]:
census_df.loc[census_df['na_count_Q'] > 55.5, q_cols].head(10)

,Q2C1,Q2C2,Q2C3,Q2C4,Q2C5,Q2C6,Q2C7,Q5C1,Q5C2,Q5C3,...,Q13C5,Q13C6,Q13C7,Q13C8,Q13C9,Q13C10,Q13C11,Q13C12,Q13C13,Q13C14
8,1,0,1,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,1,1,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1,0,0,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,1,1,0,0,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,0,0,0,0,0,0,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,1,1,0,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,1,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,0,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,0,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,0,0,0,0,0,0,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

About 15% of the rows have more than half of the question columns as NA.  I don't want to eliminate the answers that were provided though. I will plan to "skipna" in my analysis rather than eliminating these columns.

Now looking for columns with all 0 or answered 'No' to a question

In [182]:
col_all_0 = (census_df[q_cols] == 0).all(axis=1)

count_all_0 = col_all_0.sum()

print(count_all_0)

0

In [ ]:
wk_census_df = census_df[['NUM_SCHOOLS', 'NUM_STUDENTS', 'SFA_STATE']].groupby('SFA_STATE').median().reset_index()

wk_census_df

#census_df.columns

   SFA_STATE  NUM_SCHOOLS  NUM_STUDENTS
0         AK          3.0         322.5
1         AL          4.0        2142.0
2         AR          3.0         930.0
3         AS         36.0           NaN
4         AZ          1.0         430.0
5         CA          4.0        1753.0
6         CO          3.0         638.0
7         CT          4.0        1970.0
8         DC          1.0         347.0
9         DE          6.0        3301.0
10        FL          1.0         491.0
11        GA          5.0        2958.5
12        GU          4.0        2405.0
13        HI          1.0         402.5
14        IA          2.0         615.0
15        ID          2.0         491.0
16        IL          2.0         569.5
17        IN          2.0         977.0
18        KS          2.0         762.5
19        KY          5.0        2219.0
20        LA          7.0        2193.0
21        MA          3.0        1425.0
22        MD          7.0        2402.5
23        ME          2.0         408.5
24        MI          3.0        1067.0
25        MN          2.0         533.0
26        MO          2.0         391.5
27        MP         42.0           NaN
28        MS          4.0        1832.0
29        MT          3.0         202.5
30        NC          5.0        2149.0
31        ND          1.0         259.0
32        NE          1.0         306.0
33        NH          4.0        1114.0
34        NJ          2.0         991.0
35        NM          1.5         306.5
36        NV          3.0        1108.0
37        NY          2.0        1030.0
38        OH          2.0         886.0
39        OK          2.0         449.0
40        OR          3.0         616.0
41        PA          3.0        1500.5
42        PR          1.0           NaN
43        RI          3.0        2178.5
44        SC          6.0        2774.5
45        SD          3.0         336.0
46        TN          5.0        2557.5
47        TX          3.0        1078.5
48        UT          1.0         789.5
49        VA          6.0        2938.0
50        VI         21.0        6421.0
51        VT          5.0        1102.0
52        WA          3.0         895.0
53        WI          3.0         600.0
54        WV          6.5        2291.0
55        WY          3.0         612.0

In [ ]:
wk_census_df['SFA_STATE'] = wk_census_df['SFA_STATE'].astype(str).str.strip().str.upper() #removing spaces before and after state abbr
school_counts_state['state_abbr'] = school_counts_state['state_abbr'].astype(str).str.strip() #removing spaces before and after state abbr

In [206]:
merged_df = pd.merge(wk_census_df, school_counts_state, left_on='SFA_STATE', right_on='state_abbr', how='left', indicator=True)
merged_df.head(10)

  SFA_STATE  NUM_SCHOOLS  NUM_STUDENTS state_abbr  num_schools _merge
0        AK          3.0         322.5         AK          672   both
1        AL          4.0        2142.0         AL         1974   both
2        AR          3.0         930.0         AR         1646   both
3        AS         36.0           NaN         AS           34   both
4        AZ          1.0         430.0         AZ         3465   both
5        CA          4.0        1753.0         CA        12467   both
6        CO          3.0         638.0         CO         2344   both
7        CT          4.0        1970.0         CT         1572   both
8        DC          1.0         347.0         DC          446   both
9        DE          6.0        3301.0         DE          323   both

In [185]:
q_test = (merged_df['Q13C5'] == '1').sum()
merge_test = (merged_df['_merge'] == 'both').sum()

yes_q13c5 = q_test

print(yes_q13c5)
print(merge_test)

0
0

In [202]:
school_counts_state.head()
school_counts_state['state_abbr'].unique()

array(['AK ', 'AL ', 'AR ', 'AS ', 'AZ ', 'BI ', 'CA ', 'CO ', 'CT ',
       'DC ', 'DD ', 'DE ', 'DO ', 'DS ', 'FL ', 'GA ', 'GU ', 'HI ',
       'IA ', 'ID ', 'IL ', 'IN ', 'KS ', 'KY ', 'LA ', 'MA ', 'MD ',
       'ME ', 'MI ', 'MN ', 'MO ', 'MP ', 'MS ', 'MT ', 'NC ', 'ND ',
       'NE ', 'NH ', 'NJ ', 'NM ', 'NV ', 'NY ', 'OH ', 'OK ', 'OR ',
       'PA ', 'PR ', 'RI ', 'SC ', 'SD ', 'TN ', 'TX ', 'UT ', 'VA ',
       'VI ', 'VT ', 'WA ', 'WI ', 'WV ', 'WY '], dtype=object)