In [4]:
import pandas as pd

In [5]:
df_f2s = pd.read_csv(r"C:\Users\molly\projects\farm_to_school\data\F2S_Census_2023_Public_Use_CSV.csv")
df_f2s

C:\Users\molly\AppData\Local\Temp\ipykernel_16520\3793455094.py:1: DtypeWarning: Columns (6,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_f2s = pd.read_csv(r"C:\Users\molly\projects\farm_to_school\data\F2S_Census_2023_Public_Use_CSV.csv")

,CASEID,RGN,RGN_TXT,SFA_NAME,SFA_STATE,SFA_ZIP,SFA_ID,NUM_SCHOOLS,NUM_STUDENTS,Q1,...,Q44C5,Q44C6,Q44C7,Q44C8,Q44C9,FTS_INT,FTS_INT_CAT,SFA_SIZE,FRPL,FRPL_TERC
0,MARO1100174,1,Mid-Atlantic Regional Office (MARO),Dc Public Schools (Dcps),DC,20002.0,1,118.0,49869.0,1,...,0.0,0.0,0.0,0.0,0.0,5.813559,Medium,4.0,NaN,NaN
1,MARO1100179,1,Mid-Atlantic Regional Office (MARO),Dc Bilingual Public Charter School,DC,20011.0,114,1.0,492.0,1,...,0.0,0.0,0.0,0.0,0.0,13.081990,High,1.0,0.4087,2.0
2,MARO1100181,1,Mid-Atlantic Regional Office (MARO),El Haynes Public Charter School,DC,20011.0,116,3.0,1241.0,1,...,0.0,0.0,1.0,0.0,0.0,3.667787,Medium,2.0,1.0000,3.0
3,MARO1100182,1,Mid-Atlantic Regional Office (MARO),Eagle Academy Pcs,DC,20003.0,117,2.0,526.0,1,...,0.0,0.0,0.0,0.0,0.0,11.068000,High,1.0,1.0000,3.0
4,MARO1100183,1,Mid-Atlantic Regional Office (MARO),Early Childhood Academy Pcs,DC,20032.0,118,1.0,235.0,1,...,0.0,0.0,1.0,0.0,0.0,7.000000,Medium,1.0,1.0000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11257,WRO661310,6,Western Regional Office (WRO),Leadership Military Academy,CA,92553.0,6629.0,1.0,NaN,1,...,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11258,WRO661312,6,Western Regional Office (WRO),Kinetic Academy,CA,92648.0,6635.0,1.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11259,WRO661313,6,Western Regional Office (WRO),Pacific Collegiate School,CA,95060.0,6636.0,1.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11260,WRO661315,6,Western Regional Office (WRO),Astronaut Jose M. Hernandez Academy,CA,95207.0,6658.0,1.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11261,WRO661317,6,Western Regional Office (WRO),Compass Connections,CA,78230.0,6672.0,12.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,1.000000,Low,NaN,NaN,NaN

In [26]:
df_schools = pd.read_excel(r"C:\Users\molly\projects\farm_to_school\data\ELSI_excel_export_6389684883881608374860.xls").head(10)
df_schools

,ELSI Export,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,National Center for Education Statistics - htt...,NaN,NaN
2,NaN,NaN,NaN
3,This is a Public School based table with the f...,NaN,NaN
4,NaN,NaN,NaN
5,School Name,State Name [Public School] Latest available year,State Abbr [Public School] Latest available year
6,014 FRIDLEY TS,Minnesota,MN
7,03-MM,Florida,FL
8,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,MA
9,1 SCHOOL ...,New York,NY