In [21]:
import pandas as pd

In [22]:
df_f2s = pd.read_csv(r"C:\Users\molly\projects\farm_to_school\data\F2S_Census_2023_Public_Use_CSV.csv")
df_f2s

C:\Users\molly\AppData\Local\Temp\ipykernel_13104\3793455094.py:1: DtypeWarning: Columns (6,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_f2s = pd.read_csv(r"C:\Users\molly\projects\farm_to_school\data\F2S_Census_2023_Public_Use_CSV.csv")

,CASEID,RGN,RGN_TXT,SFA_NAME,SFA_STATE,SFA_ZIP,SFA_ID,NUM_SCHOOLS,NUM_STUDENTS,Q1,...,Q44C5,Q44C6,Q44C7,Q44C8,Q44C9,FTS_INT,FTS_INT_CAT,SFA_SIZE,FRPL,FRPL_TERC
0,MARO1100174,1,Mid-Atlantic Regional Office (MARO),Dc Public Schools (Dcps),DC,20002.0,1,118.0,49869.0,1,...,0.0,0.0,0.0,0.0,0.0,5.813559,Medium,4.0,NaN,NaN
1,MARO1100179,1,Mid-Atlantic Regional Office (MARO),Dc Bilingual Public Charter School,DC,20011.0,114,1.0,492.0,1,...,0.0,0.0,0.0,0.0,0.0,13.081990,High,1.0,0.4087,2.0
2,MARO1100181,1,Mid-Atlantic Regional Office (MARO),El Haynes Public Charter School,DC,20011.0,116,3.0,1241.0,1,...,0.0,0.0,1.0,0.0,0.0,3.667787,Medium,2.0,1.0000,3.0
3,MARO1100182,1,Mid-Atlantic Regional Office (MARO),Eagle Academy Pcs,DC,20003.0,117,2.0,526.0,1,...,0.0,0.0,0.0,0.0,0.0,11.068000,High,1.0,1.0000,3.0
4,MARO1100183,1,Mid-Atlantic Regional Office (MARO),Early Childhood Academy Pcs,DC,20032.0,118,1.0,235.0,1,...,0.0,0.0,1.0,0.0,0.0,7.000000,Medium,1.0,1.0000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11257,WRO661310,6,Western Regional Office (WRO),Leadership Military Academy,CA,92553.0,6629.0,1.0,NaN,1,...,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11258,WRO661312,6,Western Regional Office (WRO),Kinetic Academy,CA,92648.0,6635.0,1.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11259,WRO661313,6,Western Regional Office (WRO),Pacific Collegiate School,CA,95060.0,6636.0,1.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11260,WRO661315,6,Western Regional Office (WRO),Astronaut Jose M. Hernandez Academy,CA,95207.0,6658.0,1.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11261,WRO661317,6,Western Regional Office (WRO),Compass Connections,CA,78230.0,6672.0,12.0,NaN,1,...,0.0,0.0,0.0,0.0,0.0,1.000000,Low,NaN,NaN,NaN

In [23]:
df_schools = pd.read_excel(r"C:\Users\molly\projects\farm_to_school\data\ELSI_excel_export_6389684883881608374860.xls",skiprows=6)
df_schools

,School Name,State Name [Public School] Latest available year,State Abbr [Public School] Latest available year
0,014 FRIDLEY TS,Minnesota,MN
1,03-MM,Florida,FL
2,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,MA
3,1 SCHOOL ...,New York,NY
4,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,NV
...,...,...,...
150002,"Data Source: U.S. Department of Education, Nat...",NaN,NaN
150003,NaN,NaN,NaN
150004,† indicates that the data are not applicable.,NaN,NaN
150005,– indicates that the data are missing.,NaN,NaN
150006,‡ indicates that the data do not meet NCES dat...,NaN,NaN

In [24]:
df_schools.rename(columns={'State Abbr [Public School] Latest available year':'State'}, inplace=True)
print(df_schools.columns)

Index(['School Name', 'State Name [Public School] Latest available year',
       'State'],
      dtype='object')

In [25]:
df_schools_states= df_schools['State'].value_counts()
df_schools_states

State
CA     14505
TX     13206
NY      7622
MI      6628
IL      6268
FL      6213
OH      5610
MN      4956
PA      4279
GA      3679
AZ      3633
WA      3502
NC      3350
MO      3113
NJ      3047
WI      2899
VA      2821
TN      2812
OK      2652
MA      2643
LA      2583
IN      2556
CO      2550
KY      2436
NE      2327
IA      2111
AL      2036
KS      1977
PR      1921
OR      1907
CT      1810
SC      1771
AR      1744
MD      1621
UT      1432
MS      1430
WV      1348
SD      1307
ME      1162
NM      1160
MT      1131
ID      1107
ND       900
NV       880
AK       700
NH       693
VT       689
WY       537
RI       455
DC       449
BI       372
DE       331
DS       278
HI       272
DO       241
DD        95
GU        85
MP        71
VI        53
AS        34
Name: count, dtype: int64

In [26]:
df_f2s.rename(columns={'SFA_STATE':'State'}, inplace=True)
print(df_f2s.columns)

Index(['CASEID', 'RGN', 'RGN_TXT', 'SFA_NAME', 'State', 'SFA_ZIP', 'SFA_ID',
       'NUM_SCHOOLS', 'NUM_STUDENTS', 'Q1',
       ...
       'Q44C5', 'Q44C6', 'Q44C7', 'Q44C8', 'Q44C9', 'FTS_INT', 'FTS_INT_CAT',
       'SFA_SIZE', 'FRPL', 'FRPL_TERC'],
      dtype='object', length=930)

In [27]:
merged_df=pd.merge(
    df_f2s,
    df_schools,
    on='State',
    how='left'
)
print(merged_df.head(30))
print(merged_df.info())

         CASEID  RGN                              RGN_TXT  \
0   MARO1100174    1  Mid-Atlantic Regional Office (MARO)
1   MARO1100179    1  Mid-Atlantic Regional Office (MARO)
2   MARO1100181    1  Mid-Atlantic Regional Office (MARO)
3   MARO1100182    1  Mid-Atlantic Regional Office (MARO)
4   MARO1100183    1  Mid-Atlantic Regional Office (MARO)
5   MARO1100184    1  Mid-Atlantic Regional Office (MARO)
6   MARO1100185    1  Mid-Atlantic Regional Office (MARO)
7   MARO1100186    1  Mid-Atlantic Regional Office (MARO)
8   MARO1100188    1  Mid-Atlantic Regional Office (MARO)
9   MARO1100189    1  Mid-Atlantic Regional Office (MARO)
10  MARO1100191    1  Mid-Atlantic Regional Office (MARO)
11  MARO1100195    1  Mid-Atlantic Regional Office (MARO)
12  MARO1100196    1  Mid-Atlantic Regional Office (MARO)
13  MARO1100197    1  Mid-Atlantic Regional Office (MARO)
14  MARO1100198    1  Mid-Atlantic Regional Office (MARO)
15  MARO1100199    1  Mid-Atlantic Regional Office (MARO)
16  MARO1100200    1  Mid-Atlantic Regional Office (MARO)
17  MARO1100202    1  Mid-Atlantic Regional Office (MARO)
18  MARO1100203    1  Mid-Atlantic Regional Office (MARO)
19  MARO1100204    1  Mid-Atlantic Regional Office (MARO)
20  MARO1100206    1  Mid-Atlantic Regional Office (MARO)
21  MARO1100209    1  Mid-Atlantic Regional Office (MARO)
22  MARO1100211    1  Mid-Atlantic Regional Office (MARO)
23  MARO1100212    1  Mid-Atlantic Regional Office (MARO)
24  MARO1100214    1  Mid-Atlantic Regional Office (MARO)
25  MARO1100215    1  Mid-Atlantic Regional Office (MARO)
26  MARO1100217    1  Mid-Atlantic Regional Office (MARO)
27  MARO1100218    1  Mid-Atlantic Regional Office (MARO)
28  MARO1100221    1  Mid-Atlantic Regional Office (MARO)
29  MARO1100222    1  Mid-Atlantic Regional Office (MARO)

                                   SFA_NAME State  SFA_ZIP SFA_ID  \
0                  Dc Public Schools (Dcps)    DC  20002.0      1
1        Dc Bilingual Public Charter School    DC  20011.0    114
2           El Haynes Public Charter School    DC  20011.0    116
3                         Eagle Academy Pcs    DC  20003.0    117
4               Early Childhood Academy Pcs    DC  20032.0    118
5                                 Briya Pcs    DC  20009.0    119
6                            Friendship Pcs    DC  20001.0    120
7                        Hope Community Pcs    DC  20017.0    121
8                    Cedar Tree Academy Pcs    DC  20020.0    123
9                Howard Univ. Middle School    DC  20059.0    124
10                                 Idea Pcs    DC  20019.0    126
11                             Meridian Pcs    DC  20009.0    135
12                                Roots Pcs    DC  20011.0    140
13               Seed Public Charter School    DC  20019.0    142
14                 Elsie Whitlow Stokes Pcs    DC  20019.0    144
15                            Next Step Pcs    DC  20009.0    145
16           Thurgood Marshall Academy Pchs    DC  20020.0    146
17                     Washington Latin Pcs    DC  20011.0    151
18      Achievement Preparatory Academy Pcs    DC  20032.0    155
19                          Center City Pcs    DC  20002.0    156
20      Inspired Teaching Demonstration Pcs    DC  20002.0    165
21                             Basis Dc Pcs    DC  20004.0    168
22                          Dc Scholars Pcs    DC  20019.0    170
23               Paul Public Charter School    DC  20011.0    170
24                  Layc Career Academy Pcs    DC  20010.0    172
25                       Ingenuity Prep Pcs    DC  20032.0    173
26     Lee Montessori Public Charter School    DC  20017.0    177
27              Washington School For Girls    DC  20020.0   1775
28   Monument Academy Public Charter School    DC  20002.0    184
29  Washington Global Public Charter School    DC  20024.0    185

    NUM_SCHOOLS  NUM_STUDENTS  Q1  ...  Q44C7  Q44C8  Q44C9    FTS_INT  \
0         118.0       49869.0   1  ...    0.0    0.0    0.0   5.813559
1           1.0         492.0   1  ...    0.0    0.0    0.0  13.081990
2           3.0        1241.0   1  ...    1.0    0.0    0.0   3.667787
3           2.0         526.0   1  ...    0.0    0.0    0.0  11.068000
4           1.0         235.0   1  ...    1.0    0.0    0.0   7.000000
5           4.0          65.0   1  ...    0.0    0.0    0.0  10.529392
6           9.0        4495.0   1  ...    0.0    0.0    0.0   8.166667
7           1.0         281.0   1  ...    0.0    0.0    0.0        NaN
8           1.0         480.0   1  ...    0.0    0.0    0.0        NaN
9           1.0         188.0   1  ...    0.0    0.0    0.0        NaN
10          1.0         326.0   1  ...    0.0    0.0    1.0   2.500000
11          1.0         641.0   1  ...    0.0    0.0    0.0        NaN
12          2.0         101.0   1  ...    0.0    0.0    0.0   4.264251
13          1.0         250.0   2  ...    1.0    0.0    0.0   6.534386
14          2.0         617.0   1  ...    0.0    0.0    1.0   7.000000
15          1.0         354.0   1  ...    0.0    0.0    0.0   6.100000
16          1.0         340.0   2  ...    0.0    0.0    0.0        NaN
17          1.0         755.0   1  ...    1.0    0.0    0.0  10.562857
18          1.0         200.0   1  ...    0.0    0.0    0.0        NaN
19          6.0        1450.0   1  ...    0.0    0.0    0.0        NaN
20          1.0         506.0   1  ...    0.0    0.0    0.0  11.126667
21          1.0         652.0   1  ...    0.0    0.0    0.0        NaN
22          1.0         535.0   1  ...    0.0    0.0    0.0  10.000000
23          1.0         770.0   1  ...    0.0    0.0    0.0        NaN
24          1.0          86.0   1  ...    0.0    0.0    0.0   6.500000
25          1.0         816.0   1  ...    0.0    0.0    0.0   9.000000
26          2.0         412.0   1  ...    0.0    0.0    0.0        NaN
27          2.0          96.0   1  ...    0.0    0.0    0.0  12.000000
28          1.0         190.0   1  ...    0.0    0.0    1.0        NaN
29          1.0         240.0   1  ...    0.0    0.0    0.0        NaN

    FTS_INT_CAT SFA_SIZE    FRPL FRPL_TERC  School Name  \
0        Medium      4.0     NaN       NaN          NaN
1          High      1.0  0.4087       2.0          NaN
2        Medium      2.0  1.0000       3.0          NaN
3          High      1.0  1.0000       3.0          NaN
4        Medium      1.0  1.0000       3.0          NaN
5          High      1.0  0.9846       3.0          NaN
6          High      2.0  1.0000       3.0          NaN
7           NaN      1.0  1.0000       3.0          NaN
8           NaN      1.0  1.0000       3.0          NaN
9           NaN      1.0  1.0000       3.0          NaN
10          Low      1.0  1.0000       3.0          NaN
11          NaN      1.0  1.0000       3.0          NaN
12       Medium      1.0  1.0000       3.0          NaN
13       Medium      1.0  1.0000       3.0          NaN
14       Medium      1.0  0.2897       1.0          NaN
15       Medium      1.0  0.0294       1.0          NaN
16          NaN      1.0  1.0000       3.0          NaN
17         High      1.0  0.1486       1.0          NaN
18          NaN      1.0  1.0000       3.0          NaN
19          NaN      2.0  1.0000       3.0          NaN
20         High      1.0  0.2456       1.0          NaN
21          NaN      1.0  0.1407       1.0          NaN
22         High      1.0  1.0000       3.0          NaN
23          NaN      NaN     NaN       NaN          NaN
24       Medium      1.0  1.0000       3.0          NaN
25         High      1.0  1.0000       3.0          NaN
26          NaN      1.0  0.2818       1.0          NaN
27         High      1.0  1.0000       3.0          NaN
28          NaN      1.0  1.0000       3.0          NaN
29          NaN      1.0  1.0000       3.0          NaN

    State Name [Public School] Latest available year
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN
10                                               NaN
11                                               NaN
12                                               NaN
13                                               NaN
14                                               NaN
15                                               NaN
16                                               NaN
17                                               NaN
18                                               NaN
19                                               NaN
20                                               NaN
21                                               NaN
22                                               NaN
23                                               NaN
24                                               NaN
25                                               NaN
26                                               NaN
27                                               NaN
28                                               NaN
29                                               NaN

[30 rows x 932 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11262 entries, 0 to 11261
Columns: 932 entries, CASEID to State Name [Public School] Latest available year
dtypes: float64(880), int64(28), object(24)
memory usage: 80.1+ MB
None

In [28]:
df_f2s_states= df_f2s['State'].value_counts()
df_f2s_states

State
TX    802
OH    735
CA    639
IL    571
MI    515
PA    487
WI    473
NY    454
IN    356
MN    355
MO    331
OK    326
KS    309
NJ    294
IA    292
AZ    270
MA    252
NE    243
OR    209
WA    203
NC    194
FL    190
GA    190
AR    182
CO    157
KY    153
AL    147
TN    144
MT    142
VA    141
ID    139
CT    122
SD    117
UT    108
ME    108
MS    106
ND    103
NM    103
SC    101
LA     80
WV     60
RI     49
NH     47
VT     46
WY     43
DC     38
NV     31
MD     30
AK     27
DE     23
HI     12
PR      7
GU      3
VI      1
AS      1
MP      1
Name: count, dtype: int64

In [29]:
state_counts = merged_df['State'].value_counts()
state_counts

State
TX    802
OH    735
CA    639
IL    571
MI    515
PA    487
WI    473
NY    454
IN    356
MN    355
MO    331
OK    326
KS    309
NJ    294
IA    292
AZ    270
MA    252
NE    243
OR    209
WA    203
NC    194
FL    190
GA    190
AR    182
CO    157
KY    153
AL    147
TN    144
MT    142
VA    141
ID    139
CT    122
SD    117
UT    108
ME    108
MS    106
ND    103
NM    103
SC    101
LA     80
WV     60
RI     49
NH     47
VT     46
WY     43
DC     38
NV     31
MD     30
AK     27
DE     23
HI     12
PR      7
GU      3
VI      1
AS      1
MP      1
Name: count, dtype: int64

In [31]:
f2s= pd.read_csv(r"C:\Users\molly\projects\farm_to_school\data\F2S_Census_2023_edited.csv")
f2s

,CASEID,RGN,RGN_TXT,SFA_NAME,SFA_STATE,SFA_ZIP,SFA_ID,NUM_SCHOOLS,NUM_STUDENTS,Q2C1,...,Q13C5,Q13C6,Q13C7,Q13C8,Q13C9,Q13C10,Q13C11,Q13C12,Q13C13,Q13C14
0,MARO1100174,1,Mid-Atlantic Regional Office (MARO),Dc Public Schools (Dcps),DC,20002.0,1,118.0,49869.0,1,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,MARO1100179,1,Mid-Atlantic Regional Office (MARO),Dc Bilingual Public Charter School,DC,20011.0,114,1.0,492.0,1,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,MARO1100181,1,Mid-Atlantic Regional Office (MARO),El Haynes Public Charter School,DC,20011.0,116,3.0,1241.0,1,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
3,MARO1100182,1,Mid-Atlantic Regional Office (MARO),Eagle Academy Pcs,DC,20003.0,117,2.0,526.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MARO1100183,1,Mid-Atlantic Regional Office (MARO),Early Childhood Academy Pcs,DC,20032.0,118,1.0,235.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11257,WRO661310,6,Western Regional Office (WRO),Leadership Military Academy,CA,92553.0,6629,1.0,NaN,1,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
11258,WRO661312,6,Western Regional Office (WRO),Kinetic Academy,CA,92648.0,6635,1.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11259,WRO661313,6,Western Regional Office (WRO),Pacific Collegiate School,CA,95060.0,6636,1.0,NaN,1,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11260,WRO661315,6,Western Regional Office (WRO),Astronaut Jose M. Hernandez Academy,CA,95207.0,6658,1.0,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11261,WRO661317,6,Western Regional Office (WRO),Compass Connections,CA,78230.0,6672,12.0,NaN,1,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0